In [390]:
import pandas as pd
import numpy as np
import unidecode
import re

In [391]:
re.sub(r'I', '', "PABLO I")

'PABLO '

In [392]:
df_hurtos = pd.read_csv("./data/hurtos_bogota_2018.csv")
len(df_hurtos)

105155

In [393]:
df_hurtos.head()

,Fecha,Departamento,Municipio,Día,Hora,Barrio,Zona,Clase de sitio,Arma empleada,Móvil Agresor,Móvil Victima,Edad,Sexo,Estado civil,País de nacimiento,Clase de empleado,Profesión,Escolaridad,Código DANE,Cantidad
0,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,BOLIVIA E-10,URBANA,VIAS PUBLICAS,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,18,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,PRIMARIA,11001000.0,1
1,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,CIUDAD SALITRE II E-13,URBANA,VIAS PUBLICAS,CONTUNDENTES,A PIE,A PIE,61,FEMENINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADA,NO REPORTADO,11001000.0,1
2,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,ESTACIÓN CENTRAL E-16,URBANA,CASAS DE HABITACION,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,25,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,SUPERIOR,11001000.0,1
3,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,LA CABRERA E-2,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,A PIE,A PIE,38,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,PRIMARIA,11001000.0,1
4,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,LA CHUCUA E-8,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,A PIE,A PIE,33,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,SECUNDARIA,11001000.0,1

In [394]:
df_barrios = pd.read_csv("./data/barrios_bogota.csv")

In [395]:
df_barrios.head()

,OBJECTID,Identificador unico del sector catastral,Tipo de sector catastral,Nombre del sector catastral,coord_x,coord_y
0,1281,205109,2,LA MAGDALENA I,"-74,15971638349998","4,6538848121528105"
1,1282,205227,2,OSORIO IX,"-74,171430826","4,655330582652857"
2,1284,105203,1,OSORIO II,"-74,166000932","4,654956388652853"
3,1285,201109,2,INGEMAR I,"-74,05440703649998","4,639504332652364"
4,1286,201110,2,INGEMAR ORIENTAL I,"-74,0505909105","4,644192807152489"

## Limpiar columna "barrio"

In [396]:
UMBRAL = 100

In [397]:
def arreglar_I(x):
    if " I" in x[-2:]:
        return x[:-2]
    if " II" in x[-3:]:
        return x[:-3]
    if " III" in x[-4:]:
        return x[:-4]
    else:
        return x

In [398]:
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x.split(" E-")[0])
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x.replace(" II "," ").replace(" I "," "))
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(arreglar_I)
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x
                                                                                            .replace("LOS ","")
                                                                                            .replace("LAS ","")
                                                                                            .replace("EL ","")
                                                                                            .replace("LA ","")
                                                                                           )
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x
                                                                                            .replace(" NOR-ORIENTAL","")
                                                                                            .replace(" SUR-ORIENTAL","")
                                                                                            .replace(" NOR-OCCIDENTAL","")
                                                                                            .replace(" SUR-OCCIDENTAL","")
                                                                                            .replace(" OCCIDENTAL","")
                                                                                            .replace(" ORIENTAL","")
                                                                                            .replace(" SUR","")
                                                                                            .replace(" NORTE","")
                                                                                            .replace(" CENTRO","")
                                                                                            .replace(" BAJO","")
                                                                                            .replace(" ALTO","")
                                                                                            .replace(" CENTRAL","")
                                                                                            .replace(" ETAPA","")
                                                                                            .replace(" SECTOR","")
                                                                                           )

In [399]:
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:unidecode.unidecode(x))
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:x.replace(" II","").replace(" I",""))
"""df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:x
                                                                                            .replace(" NOR-ORIENTAL","")
                                                                                            .replace(" SUR-ORIENTAL","")
                                                                                            .replace(" NOR-OCCIDENTAL","")
                                                                                            .replace(" SUR-OCCIDENTAL","")
                                                                                            .replace(" OCCIDENTAL","")
                                                                                            .replace(" ORIENTAL","")
                                                                                            .replace(" SUR","")
                                                                                            .replace(" NORTE","")
                                                                                           )"""
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:x
                                                                                            .replace("LOS ","")
                                                                                            .replace("LAS ","")
                                                                                            .replace("EL ","")
                                                                                            .replace("LA ","")
                                                                                           )

In [400]:
np.size(df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>0])

2162

In [401]:
barrios_con_umbral = np.size(df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>UMBRAL])

In [402]:
barrios_hurtos = pd.Series((df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>UMBRAL]).index)
barrios_hurtos.head()

0         CHAPINERO
1             CHICO
2     SANTA BARBARA
3    CIUDAD SALITRE
4          BELSUIZA
dtype: object

In [403]:
def arreglar(x):
    resp = ""
    for barrio in barrios_hurtos:
        if barrio in x:
            return barrio
    return x

In [404]:
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(arreglar)

In [405]:
barrios_catastro = pd.Series(df_barrios["Nombre del sector catastral"].unique())

In [406]:
barrios_coincidencia = np.sum(barrios_hurtos.isin(barrios_catastro))

In [407]:
print("Barrios: %s" % barrios_con_umbral)
print("Barrios coincidentes: %s" % barrios_coincidencia)
print("% Coincidencia:")
print(barrios_coincidencia/barrios_con_umbral)

Barrios: 278
Barrios coincidentes: 209
% Coincidencia:
0.7517985611510791

In [416]:
df_hurtos.loc[df_hurtos["Barrio"].isin(barrios_hurtos.loc[~barrios_hurtos.isin(barrios_catastro)])]["Barrio"].value_counts()

SANTA INES                452
CARVAJAL                  375
TOBERIN                   358
VILDPRADO                 300
MAZUREN                   298
BARRIOS UNIDOS            286
PROVIDENCIA               269
CENTRO USAQUEN            267
SOCIEGO                   264
CENTRO ADMINISTRATIVO     257
QUIROGA IHS               238
URB. SAN PATRICIO         223
SAN BERNARDO              221
MARTIRES                  219
CANDELARIA NUEVA          218
CHICO NAVARRA             214
MADELENA Y                213
POA                       209
MIRANDELA                 203
SANTA ISABEL              203
TINTALA                   192
VILDE GRANADA             191
INDUSTRIAL PENSILVANIA    190
VERAGUAS                  188
GUSTAVO RESTREPO          185
SAN IGNACIO               183
ALQUERIAS DE FRAGUA       177
GAITANA                   170
SUBA URBANO               163
SANTA MARIA DLAGO         145
                         ...
GRANJAS DE TECHO          127
BOYACA REAL               126
CABAÑA                    126
AURES                     125
CENTRO ANTONIO NARIÑO     122
TINTALITO                 122
VILMARIA                  121
CENTRO INTERNACIONAL      120
VEREDA TORCA              120
PASADENA ROYAL            118
CHICO III                 117
CANAIMA                   115
BANDERAS                  114
ORQUÍDEAS                 113
CIUDAD KENNEDY OCC        113
FELICIDAD                 111
BRITALIA                  111
ALCAZAR DE SUBA           111
GILMAR                    109
FERROCAJA                 109
SAN RAFAINDUSTRIAL        108
CENTRO NARIÑO             107
PORTALES DNORTE           107
NUEVA TIBABUYES           106
SANTA TERESA              105
SAN CARPREDIO SAN JOSE    104
ALHAMBRA                  103
AMPARO                    103
CAMPIÑA                   102
CEMENTERIO APOGEO         102
Name: Barrio, Length: 69, dtype: int64

In [409]:
np.sum(~barrios_hurtos.isin(barrios_catastro))

69