In [98]:
import pandas as pd
import numpy as np
import unidecode

In [99]:
df_hurtos = pd.read_csv("./data/hurtos_bogota_2018.csv")
len(df_hurtos)

105155

In [100]:
df_hurtos.head()

,Fecha,Departamento,Municipio,Día,Hora,Barrio,Zona,Clase de sitio,Arma empleada,Móvil Agresor,Móvil Victima,Edad,Sexo,Estado civil,País de nacimiento,Clase de empleado,Profesión,Escolaridad,Código DANE,Cantidad
0,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,BOLIVIA E-10,URBANA,VIAS PUBLICAS,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,18,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,PRIMARIA,11001000.0,1
1,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,CIUDAD SALITRE II E-13,URBANA,VIAS PUBLICAS,CONTUNDENTES,A PIE,A PIE,61,FEMENINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADA,NO REPORTADO,11001000.0,1
2,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,ESTACIÓN CENTRAL E-16,URBANA,CASAS DE HABITACION,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,25,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,SUPERIOR,11001000.0,1
3,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,LA CABRERA E-2,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,A PIE,A PIE,38,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,PRIMARIA,11001000.0,1
4,1/1/18,CUNDINAMARCA,BOGOTÁ D.C. (CT),Lunes,0:00:00,LA CHUCUA E-8,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,A PIE,A PIE,33,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,-,SECUNDARIA,11001000.0,1

In [101]:
df_barrios = pd.read_csv("./data/barrios_bogota.csv")

In [102]:
df_barrios.head()

,OBJECTID,Identificador unico del sector catastral,Tipo de sector catastral,Nombre del sector catastral,coord_x,coord_y
0,1281,205109,2,LA MAGDALENA I,"-74,15971638349998","4,6538848121528105"
1,1282,205227,2,OSORIO IX,"-74,171430826","4,655330582652857"
2,1284,105203,1,OSORIO II,"-74,166000932","4,654956388652853"
3,1285,201109,2,INGEMAR I,"-74,05440703649998","4,639504332652364"
4,1286,201110,2,INGEMAR ORIENTAL I,"-74,0505909105","4,644192807152489"

## Limpiar columna "barrio"

In [103]:
UMBRAL = 50

In [104]:
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x.split(" E-")[0])
df_hurtos["Barrio"] = df_hurtos["Barrio"].apply(lambda x:x.replace(" II","").replace(" I",""))

In [105]:
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:unidecode.unidecode(x))
df_barrios["Nombre del sector catastral"] = df_barrios["Nombre del sector catastral"].apply(lambda x:x.replace(" II","").replace(" I",""))

In [106]:
np.size(df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>0])

2484

In [107]:
barrios_con_umbral = np.size(df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>UMBRAL])

In [108]:
barrios_hurtos = pd.Series((df_hurtos["Barrio"].value_counts().loc[df_hurtos["Barrio"].value_counts()>UMBRAL]).index)
barrios_hurtos.head()

0    CHAPINERO CENTRAL
1       CIUDAD SALITRE
2          BELLA SUIZA
3             RICAURTE
4                MARLY
dtype: object

In [109]:
barrios_catastro = pd.Series(df_barrios["Nombre del sector catastral"].unique())

In [110]:
barrios_coincidencia = np.sum(barrios_hurtos.isin(barrios_catastro))

In [111]:
print("Barrios: %s" % barrios_con_umbral)
print("Barrios coincidentes: %s" % barrios_coincidencia)
print("% Coincidencia:")
print(barrios_coincidencia/barrios_con_umbral)

Barrios: 490
Barrios coincidentes: 291
% Coincidencia:
0.5938775510204082

In [112]:
df_hurtos.loc[df_hurtos["Barrio"].isin(barrios_hurtos.loc[~barrios_hurtos.isin(barrios_catastro)])]["Barrio"].value_counts()

CIUDAD SALITRE                  1157
CHICO                            824
LOS CEDRITOS                     551
LA VERACRUZ                      540
LA PORCIUNCULA                   531
ENGATIVA                         450
EL RESTREPO                      428
LOS HAYUELOS                     408
CHAPINERO ALTO                   402
FONTIBON CENTRO                  387
CARVAJAL                         375
TOBERIN ORIENTAL                 358
MINUTO DE DIOS                   346
EL TUNAL                         313
CENTRO                           311
VILLA DEL PRADO                  300
MAZUREN SECTOR                   298
LA URIBE                         290
BARRIOS UNIDOS                   286
EL PORVENIR                      273
PROVIDENCIA                      269
CENTRO NORTE USAQUEN             267
BOSA CENTRO                      263
CANDELARIA                       247
QUIROGAHS ETAPA                  238
URB. SAN PATRICIO                223
SAN BERNARDO                     221
MARTIRES                         219
CANDELARIA LA NUEVA SECTOR       218
CHICO NAVARRA                    214
                                ...
LAGOS DE SUBA                     64
GRANJAS DE SAN PABLO              64
EL CAMPIN (ESTADIO)               63
ROSALES                           62
BOSQUES DE MODELIA                62
SAN JOSE                          61
VILLAS DEL MADRIGAL               61
SANTA RITA                        61
SAN JOSÉ SUR                      61
ZONANDUSTRIAL MONTEVIDEO          61
PINOS DE LOMBARDIA                60
URB. NUEVA ZELANDIA               60
ENTRE RIOS                        59
LOS MOLINOS DEL VIENTO            59
GONZALO JIMENEZ                   57
CANTALEJO                         57
TUNA BAJA                         56
CENTRO COMERCIAL TUNAL            56
LOS MONJES                        56
INDUSTRIAL CENTENARIO SECTOR      55
NAVARRA                           55
EL ENSUEÑO                        54
TIMIZA CELULA A                   54
ZONANDUSTRIAL LAS GRANJAS         54
LA CHUCUA                         53
NUEVA MARSELLA SECTOR             52
CLARET EL CARMEN                  52
FONTIBÓN UNIDAD RESIDENCIAL       51
CAOBOS SALAZAR NORTE              51
CEDRO GOLF EL RODEO               51
Name: Barrio, Length: 199, dtype: int64

In [113]:
np.sum(~barrios_hurtos.isin(barrios_catastro))

199